{% extends 'base.html' %}
{% load static %}

{% block title %}HOUSKi – Horolezecký oddíl Plzeň{% endblock %}

{% block content %}
<div class="home-layout">
    <div class="home-text">
        <h1>HOUSKI – Horolezecký oddíl Plzeň</h1>
        <p class="home-subtitle">Lezeme, horolezeme, lyžujeme a prostě žijeme v horách už od roku 1998.</p>

        <h2>O nás ...</h2>
        <p>            
            Oddíl byl založen na konci roku 1998 při katedře tělesné výchovy a sportu na Západoèeské univerzitě. Počet členů oddílu se s roky výrazně měnil. 
            Z pùvodních 48 až na maximálnì 70. V roce 2002 měl oddíl už zas jen 22 členů. V roce 2008 měl náš oddíl 42 "stárnoucích" členů.
            V současné době (r. 2026) máme v oddíle <b>XY ?</b> registrovaných členů.
            <br><br>
            Oddíl se původně jmenoval Univerzitní horolezecký klub, ale po založení Univerzitního sportovního klubu na Západoceské univerzitě se název oddílu změnil 
            na USK Horolezecký oddíl Plzeň. 
            A nakonec od roku <b>XY ?</b> nese název: <b>Horolezecký oddíl HOUSKI Plzeň</b>.
            <br><br>
            Oddíl je soucástí Českého horolezeckého svazu.
            <br><br>
            Oddíl je vcelku uzavřen a funguje na principu kamarádského společenství známých a spolecně fungujících členů. Také není pouze o lezení a horách, ale 
            v nemalé míre i o MTB, bežkách, fotbalech, sázkách atd. - viz články na těchto www stránkách.
            <br><br>
            Novým (nám neznámým) zájemcům doporučujeme zúčastnit se několika oddílových akcí a po roce čekatelství mohou třeba býti přijati hlasováním na výroční 
            schůzi.
        </p>

        <h2>Co děláme</h2>
        <ul class="home-list">
            <li>🧗 Skalní lezení a bouldering</li>
            <li>⛰️ Horolezectví a expedice</li>
            <li>⛷️ Skialpinismus a běžky</li>
            <li>🚴 Cyklistické výlety</li>
            <li>🏕️ Trekking a outdoor aktivity</li>
        </ul>
    </div>

    {% if picture %}
    <aside class="home-picture">
        <div class="card">
            <button type="button" class="picture-of-week-btn" data-full="{{ picture.image.url }}">
                <img src="{{ picture.thumb_url }}" alt="{{ picture.description }}" class="picture-of-week-img">
            </button>
            <p class="picture-caption">{{ picture.description }}</p>
            <p class="picture-author">Foto: {{ picture.author }}</p>
        </div>
    </aside>
    {% endif %}
</div>

<div class="lightbox-overlay" id="picture-of-week-lightbox" hidden>
    <button type="button" class="lightbox-close" aria-label="Zavřít">&times;</button>
    <img class="lightbox-img" src="" alt="">
</div>
{% endblock %}
{% block extra_js %}
<script src="{% static 'js/home-lightbox.js' %}"></script>
{% endblock %}
